In [3]:
import pandas as pd

In [130]:
games_details_pd = pd.read_csv('games_details.csv')
games_details_pd.drop(columns=['COMMENT', 'TEAM_CITY', 'TEAM_ABBREVIATION', 'START_POSITION', 'PTS', 'PLUS_MINUS'], inplace=True)
games_details_pd.info()

C:\Users\pc\AppData\Local\Temp\ipykernel_484\3286034938.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  games_details_pd = pd.read_csv('games_details.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668628 entries, 0 to 668627
Data columns (total 23 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   GAME_ID      668628 non-null  int64
 1   TEAM_ID      668628 non-null  int64
 2   PLAYER_ID    668628 non-null  int64
 3   PLAYER_NAME  668628 non-null  object
 4   NICKNAME     53037 non-null   object
 5   MIN          558938 non-null  object
 6   FGM          558938 non-null  float64
 7   FGA          558938 non-null  float64
 8   FG_PCT       558938 non-null  float64
 9   FG3M         558938 non-null  float64
 10  FG3A         558938 non-null  float64
 11  FG3_PCT      558938 non-null  float64
 12  FTM          558938 non-null  float64
 13  FTA          558938 non-null  float64
 14  FT_PCT       558938 non-null  float64
 15  OREB         558938 non-null  float64
 16  DREB         558938 non-null  float64
 17  REB          558938 non-null  float64
 18  AST          558938 non-null  float64
 19  STL          558938 non-null  float64
 20  BLK          558938 non-null  float64
 21  TO           558938 non-null  float64
 22  PF           558938 non-null  float64
dtypes: float64(17), int64(3), object(3)
memory usage: 117.3+ MB

In [131]:
games_details_pd['NICKNAME'] = games_details_pd['NICKNAME'].fillna(games_details_pd['PLAYER_NAME'].apply(lambda x: x.split()[0]+"_on_bench"))

In [132]:
games_details_pd.isna().sum()

GAME_ID             0
TEAM_ID             0
PLAYER_ID           0
PLAYER_NAME         0
NICKNAME            0
MIN            109690
FGM            109690
FGA            109690
FG_PCT         109690
FG3M           109690
FG3A           109690
FG3_PCT        109690
FTM            109690
FTA            109690
FT_PCT         109690
OREB           109690
DREB           109690
REB            109690
AST            109690
STL            109690
BLK            109690
TO             109690
PF             109690
dtype: int64

In [155]:
games_details_pd.fillna(0, inplace=True)

In [156]:
games_details_pd

,GAME_ID,TEAM_ID,PLAYER_ID,PLAYER_NAME,NICKNAME,MIN,FGM,FGA,FG_PCT,FG3M,...,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF
0,22200477,1610612759,1629641,Romeo Langford,Romeo,18:06,1.0,1.0,1.000,0.0,...,0.0,0.000,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0
1,22200477,1610612759,1631110,Jeremy Sochan,Jeremy,31:01,7.0,14.0,0.500,2.0,...,10.0,0.700,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0
2,22200477,1610612759,1627751,Jakob Poeltl,Jakob,21:42,6.0,9.0,0.667,0.0,...,1.0,1.000,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0
3,22200477,1610612759,1630170,Devin Vassell,Devin,30:20,4.0,13.0,0.308,1.0,...,1.0,1.000,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0
4,22200477,1610612759,1630200,Tre Jones,Tre,27:44,7.0,12.0,0.583,1.0,...,4.0,1.000,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668623,11200005,1610612743,202706,Jordan Hamilton,Jordan_on_bench,19,4.0,9.0,0.444,3.0,...,7.0,0.857,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0
668624,11200005,1610612743,202702,Kenneth Faried,Kenneth_on_bench,23,7.0,11.0,0.636,0.0,...,4.0,1.000,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0
668625,11200005,1610612743,201585,Kosta Koufos,Kosta_on_bench,15,3.0,7.0,0.429,0.0,...,0.0,0.000,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0
668626,11200005,1610612743,202389,Timofey Mozgov,Timofey_on_bench,19,1.0,1.0,1.000,0.0,...,2.0,0.000,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0
668627,11200005,1610612743,201951,Ty Lawson,Ty_on_bench,27,3.0,6.0,0.500,0.0,...,4.0,0.500,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0

In [134]:
games = pd.read_csv('games.csv')
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26651 entries, 0 to 26650
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE_EST     26651 non-null  object
 1   GAME_ID           26651 non-null  int64
 2   GAME_STATUS_TEXT  26651 non-null  object
 3   HOME_TEAM_ID      26651 non-null  int64
 4   VISITOR_TEAM_ID   26651 non-null  int64
 5   SEASON            26651 non-null  int64
 6   TEAM_ID_home      26651 non-null  int64
 7   PTS_home          26552 non-null  float64
 8   FG_PCT_home       26552 non-null  float64
 9   FT_PCT_home       26552 non-null  float64
 10  FG3_PCT_home      26552 non-null  float64
 11  AST_home          26552 non-null  float64
 12  REB_home          26552 non-null  float64
 13  TEAM_ID_away      26651 non-null  int64
 14  PTS_away          26552 non-null  float64
 15  FG_PCT_away       26552 non-null  float64
 16  FT_PCT_away       26552 non-null  float64
 17  FG3_PCT_away      26552 non-null  float64
 18  AST_away          26552 non-null  float64
 19  REB_away          26552 non-null  float64
 20  HOME_TEAM_WINS    26651 non-null  int64
dtypes: float64(12), int64(7), object(2)
memory usage: 4.3+ MB

In [135]:
# Check Nan values
games.isna().sum()

GAME_DATE_EST        0
GAME_ID              0
GAME_STATUS_TEXT     0
HOME_TEAM_ID         0
VISITOR_TEAM_ID      0
SEASON               0
TEAM_ID_home         0
PTS_home            99
FG_PCT_home         99
FT_PCT_home         99
FG3_PCT_home        99
AST_home            99
REB_home            99
TEAM_ID_away         0
PTS_away            99
FG_PCT_away         99
FT_PCT_away         99
FG3_PCT_away        99
AST_away            99
REB_away            99
HOME_TEAM_WINS       0
dtype: int64

In [136]:
games['PTS_home'] = games['PTS_home'].fillna(games['PTS_home'].mean())
games['FG_PCT_home'] = games['FG_PCT_home'].fillna(games['FG_PCT_home'].mean())
games['FT_PCT_home'] = games['FT_PCT_home'].fillna(games['FT_PCT_home'].mean())
games['FG3_PCT_home'] = games['FG3_PCT_home'].fillna(games['FG3_PCT_home'].mean())
games['AST_home'] = games['AST_home'].fillna(games['AST_home'].mean())
games['REB_home'] = games['REB_home'].fillna(games['REB_home'].mean())
games['PTS_away'] = games['PTS_away'].fillna(games['PTS_away'].mean())
games['FG_PCT_away'] = games['FG_PCT_away'].fillna(games['FG_PCT_away'].mean())
games['FT_PCT_away'] = games['FT_PCT_away'].fillna(games['FT_PCT_away'].mean())
games['FG3_PCT_away'] = games['FG3_PCT_away'].fillna(games['FG3_PCT_away'].mean())
games['AST_away'] = games['AST_away'].fillna(games['AST_away'].mean())
games['REB_away'] = games['REB_away'].fillna(games['REB_away'].mean())

In [137]:
# linear interpolate NaN values
# games = games.fillna(method='mean', limit=1)
games.drop(columns=['TEAM_ID_away'], inplace=True)
games.drop(columns=['TEAM_ID_home'], inplace=True)

In [138]:
# check for duplicates
games.drop_duplicates(inplace=True)

In [154]:
games.isna().sum()

GAME_DATE_EST       0
GAME_ID             0
GAME_STATUS_TEXT    0
HOME_TEAM_ID        0
VISITOR_TEAM_ID     0
SEASON              0
PTS_home            0
FG_PCT_home         0
FT_PCT_home         0
FG3_PCT_home        0
AST_home            0
REB_home            0
PTS_away            0
FG_PCT_away         0
FT_PCT_away         0
FG3_PCT_away        0
AST_away            0
REB_away            0
HOME_TEAM_WINS      0
dtype: int64

In [139]:
games

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,126.0,0.484,0.926,0.382,25.0,46.0,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,120.0,0.488,0.952,0.457,16.0,40.0,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,114.0,0.482,0.786,0.313,22.0,37.0,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,113.0,0.441,0.909,0.297,27.0,49.0,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,108.0,0.429,1.000,0.378,22.0,47.0,110.0,0.500,0.773,0.292,20.0,47.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26646,2014-10-06,11400007,Final,1610612737,1610612740,2014,93.0,0.419,0.821,0.421,24.0,50.0,87.0,0.366,0.643,0.375,17.0,43.0,1
26647,2014-10-06,11400004,Final,1610612741,1610612764,2014,81.0,0.338,0.719,0.381,18.0,40.0,85.0,0.411,0.636,0.267,17.0,47.0,0
26648,2014-10-06,11400005,Final,1610612747,1610612743,2014,98.0,0.448,0.682,0.500,29.0,45.0,95.0,0.387,0.659,0.500,19.0,43.0,1
26649,2014-10-05,11400002,Final,1610612761,1610612758,2014,99.0,0.440,0.771,0.333,21.0,30.0,94.0,0.469,0.725,0.385,18.0,45.0,1
26650,2014-10-04,11400001,Final,1610612748,1610612740,2014,86.0,0.431,0.679,0.333,18.0,42.0,98.0,0.462,0.706,0.438,19.0,42.0,0

In [140]:
players = pd.read_csv('players.csv')
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7228 entries, 0 to 7227
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PLAYER_NAME  7228 non-null   object
 1   TEAM_ID      7228 non-null   int64
 2   PLAYER_ID    7228 non-null   int64
 3   SEASON       7228 non-null   int64
dtypes: int64(3), object(1)
memory usage: 226.0+ KB

In [141]:
players

           PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
0        Royce O'Neale  1610612762    1626220    2019
1     Bojan Bogdanovic  1610612762     202711    2019
2          Rudy Gobert  1610612762     203497    2019
3     Donovan Mitchell  1610612762    1628378    2019
4          Mike Conley  1610612762     201144    2019
...                ...         ...        ...     ...
7223       Lanny Smith  1610612758     201831    2009
7224     Warren Carter  1610612752     201999    2009
7225      Bennet Davis  1610612751     201834    2009
7226    Brian Hamilton  1610612751     201646    2009
7227   Wesley Matthews  1610612762     500032    2009

[7228 rows x 4 columns]

In [142]:
# check for NaN values
players.isna().sum()

PLAYER_NAME    0
TEAM_ID        0
PLAYER_ID      0
SEASON         0
dtype: int64

In [143]:
# check for NaN values
players.dropna(inplace=True)

In [144]:
# check for duplicates
players.duplicated().sum()

0

In [145]:
teams = pd.read_csv('teams.csv')
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LEAGUE_ID           30 non-null     int64
 1   TEAM_ID             30 non-null     int64
 2   MIN_YEAR            30 non-null     int64
 3   MAX_YEAR            30 non-null     int64
 4   ABBREVIATION        30 non-null     object
 5   NICKNAME            30 non-null     object
 6   YEARFOUNDED         30 non-null     int64
 7   CITY                30 non-null     object
 8   ARENA               30 non-null     object
 9   ARENACAPACITY       26 non-null     float64
 10  OWNER               30 non-null     object
 11  GENERALMANAGER      30 non-null     object
 12  HEADCOACH           30 non-null     object
 13  DLEAGUEAFFILIATION  30 non-null     object
dtypes: float64(1), int64(5), object(8)
memory usage: 3.4+ KB

In [146]:
teams.drop(columns=['LEAGUE_ID'], inplace=True)

In [147]:
teams

,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends
5,1610612743,1976,2019,DEN,Nuggets,1976,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
6,1610612745,1967,2019,HOU,Rockets,1967,Houston,Toyota Center,18104.0,Tilman Fertitta,Daryl Morey,Mike D'Antoni,Rio Grande Valley Vipers
7,1610612746,1970,2019,LAC,Clippers,1970,Los Angeles,Staples Center,19060.0,Steve Ballmer,Michael Winger,Doc Rivers,Agua Caliente Clippers of Ontario
8,1610612747,1948,2019,LAL,Lakers,1948,Los Angeles,Staples Center,19060.0,Jerry Buss Family Trust,Rob Pelinka,Frank Vogel,South Bay Lakers
9,1610612748,1988,2019,MIA,Heat,1988,Miami,AmericanAirlines Arena,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce
10,1610612749,1968,2019,MIL,Bucks,1968,Milwaukee,Fiserv Forum,17500.0,Wesley Edens & Marc Lasry,Jon Horst,Mike Budenholzer,Wisconsin Herd
11,1610612750,1989,2019,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
12,1610612751,1976,2019,BKN,Nets,1976,Brooklyn,Barclays Center,NaN,Joe Tsai,Sean Marks,Kenny Atkinson,Long Island Nets
13,1610612752,1946,2019,NYK,Knicks,1946,New York,Madison Square Garden,19763.0,Cablevision (James Dolan),Steve Mills,David Fizdale,Westchester Knicks
14,1610612753,1989,2019,ORL,Magic,1989,Orlando,Amway Center,0.0,Rick DeVos,John Hammond,Steve Clifford,Lakeland Magic
15,1610612754,1976,2019,IND,Pacers,1976,Indiana,Bankers Life Fieldhouse,18345.0,Herb Simon,Kevin Pritchard,Nate McMillan,Fort Wayne Mad Ants
16,1610612755,1949,2019,PHI,76ers,1949,Philadelphia,Wells Fargo Center,NaN,Joshua Harris,Elton Brand,Brett Brown,Delaware Blue Coats
17,1610612756,1968,2019,PHX,Suns,1968,Phoenix,Talking Stick Resort Arena,NaN,Robert Sarver,James Jones,Monty Williams,Northern Arizona Suns
18,1610612757,1970,2019,POR,Trail Blazers,1970,Portland,Moda Center,19980.0,Paul Allen,Neil Olshey,Terry Stotts,No Affiliate
19,1610612758,1948,2019,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
20,1610612759,1976,2019,SAS,Spurs,1976,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
21,1610612760,1967,2019,OKC,Thunder,1967,Oklahoma City,Chesapeake Energy Arena,19163.0,Clay Bennett,Sam Presti,Billy Donovan,Oklahoma City Blue
22,1610612761,1995,2019,TOR,Raptors,1995,Toronto,Scotiabank Arena,19800.0,Maple Leaf Sports and Entertainment,Masai Ujiri,Nick Nurse,Raptors 905
23,1610612762,1974,2019,UTA,Jazz,1974,Utah,Vivint Smart Home Arena,20148.0,Greg Miller,Dennis Lindsey,Quin Snyder,Salt Lake City Stars
24,1610612763,1995,2019,MEM,Grizzlies,1995,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle
25,1610612764,1961,2019,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
26,1610612765,1948,2019,DET,Pistons,1948,Detroit,Little Caesars Arena,21000.0,Tom Gores,Ed Stefanski,Dwane Casey,Grand Rapids Drive
27,1610612766,1988,2019,CHA,Hornets,1988,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,James Borrego,Greensboro Swarm
28,1610612739,1970,2019,CLE,Cavaliers,1970,Cleveland,Quicken Loans Arena,20562.0,Dan Gilbert,Koby Altman,John Beilein,Canton Charge
29,1610612744,1946,2019,GSW,Warriors,1946,Golden State,Chase Center,19596.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors

In [22]:
rankings = pd.read_csv('ranking.csv')
rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210342 entries, 0 to 210341
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TEAM_ID        210342 non-null  int64
 1   LEAGUE_ID      210342 non-null  int64
 2   SEASON_ID      210342 non-null  int64
 3   STANDINGSDATE  210342 non-null  object
 4   CONFERENCE     210342 non-null  object
 5   TEAM           210342 non-null  object
 6   G              210342 non-null  int64
 7   W              210342 non-null  int64
 8   L              210342 non-null  int64
 9   W_PCT          210342 non-null  float64
 10  HOME_RECORD    210342 non-null  object
 11  ROAD_RECORD    210342 non-null  object
 12  RETURNTOPLAY   3990 non-null    float64
dtypes: float64(2), int64(6), object(5)
memory usage: 20.9+ MB

In [24]:
df = pd.read_csv("ranking.csv", parse_dates=["STANDINGSDATE"])
df.drop(columns=['RETURNTOPLAY', 'RETURNTOPLAY', 'LEAGUE_ID', 'SEASON_ID'], inplace=True)
# Extract the year from STANDINGSDATE
df["YEAR"] = df["STANDINGSDATE"].dt.year

# Get the last entry for each TEAM_ID per year
latest_per_year = df.sort_values(["TEAM_ID", "YEAR", "STANDINGSDATE"]).groupby(["TEAM_ID", "YEAR"]).last().reset_index()

In [25]:
latest_per_year

,TEAM_ID,YEAR,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD
0,1610612737,2003,2003-12-31,East,Atlanta,33,9,24,0.273,5-10,4-14
1,1610612737,2004,2004-12-31,East,Atlanta,28,5,23,0.179,3-13,2-10
2,1610612737,2005,2005-12-31,East,Atlanta,28,7,21,0.250,5-7,2-14
3,1610612737,2006,2006-12-31,East,Atlanta,29,9,20,0.310,4-9,5-11
4,1610612737,2007,2007-12-31,East,Atlanta,28,15,13,0.536,10-6,5-7
...,...,...,...,...,...,...,...,...,...,...,...
594,1610612766,2018,2018-12-31,East,Charlotte,36,18,18,0.500,14-7,4-11
595,1610612766,2019,2019-12-31,East,Charlotte,36,13,23,0.361,7-11,6-12
596,1610612766,2020,2020-12-31,East,Charlotte,4,2,2,0.500,1-1,1-1
597,1610612766,2021,2021-12-31,East,Charlotte,36,19,17,0.528,9-4,10-13
598,1610612766,2022,2022-12-22,East,Charlotte,32,8,24,0.250,4-11,4-13

In [29]:
# latest_per_year.to_csv('latest_per_year.csv', index=False)

# remove anything before 2009 in year column
latest_per_year = latest_per_year[latest_per_year['YEAR'] >= 2009]



latest_per_year.to_csv('latest_per_yearv2.csv', index=False)

In [16]:
rankings['TEAM_ID'].drop_duplicates(inplace=True)

In [23]:
rankings.drop(columns=['RETURNTOPLAY', 'RETURNTOPLAY', 'LEAGUE_ID', 'SEASON_ID'], inplace=True)

In [19]:
rankings

,TEAM_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD
0,1610612743,2022-12-22,West,Denver,30,19,11,0.633,10-3,9-8
1,1610612763,2022-12-22,West,Memphis,30,19,11,0.633,13-2,6-9
2,1610612740,2022-12-22,West,New Orleans,31,19,12,0.613,13-4,6-8
3,1610612756,2022-12-22,West,Phoenix,32,19,13,0.594,14-4,5-9
4,1610612746,2022-12-22,West,LA Clippers,33,19,14,0.576,11-7,8-7
...,...,...,...,...,...,...,...,...,...,...
210337,1610612765,2014-09-01,East,Detroit,82,29,53,0.354,17-24,12-29
210338,1610612738,2014-09-01,East,Boston,82,25,57,0.305,16-25,9-32
210339,1610612753,2014-09-01,East,Orlando,82,23,59,0.280,19-22,4-37
210340,1610612755,2014-09-01,East,Philadelphia,82,19,63,0.232,10-31,9-32
210341,1610612749,2014-09-01,East,Milwaukee,82,15,67,0.183,10-31,5-36

In [21]:
# save rankings into csv
rankings.to_csv('rankingsv2.csv', index=False)

In [7]:
rankings.drop_duplicates(inplace=True)

In [10]:
rankings.duplicated().sum()

0

In [157]:
head_coaches = pd.read_csv('head_coaches.csv')
head_coaches.info()
head_coaches

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                280 non-null    object
 1   Teams               280 non-null    object
 2   Start season        280 non-null    object
 3   End season          280 non-null    object
 4   Years in rule       280 non-null    int64
 5   Birth Date          280 non-null    object
 6   Nationality         280 non-null    object
 7   Start season short  280 non-null    int64
 8   End season short    280 non-null    object
 9   Num of teams        280 non-null    int64
dtypes: int64(3), object(7)
memory usage: 22.0+ KB

,Name,Teams,Start season,End season,Years in rule,Birth Date,Nationality,Start season short,End season short,Num of teams
0,Rick Adelman,"POR, GOS, SAC, HOU, MIN",1988-1989,2013-2014,23,"Jun 16, 1946",United States,1988,2013,5
1,Richie Adubato,"DET, DAL, ORL",1979-1980,1996-1997,6,-,United States,1979,1996,3
2,Danny Ainge,PHX,1996-1997,1999-2000,4,"Mar 17, 1959",United States,1996,1999,1
3,Stan Albeck,"DEN, CLE, SAN, BRK, CHI",1970-1971,1985-1986,8,-,-,1970,1985,5
4,Kenny Atkinson,BRK,2016-2017,2019-2020,4,"Jun 2, 1967",United States,2016,2019,1
...,...,...,...,...,...,...,...,...,...,...
275,Brian Winters,"MEM, GOS",1995-1996,2001-2002,3,"Mar 1, 1952",United States,1995,2001,2
276,Randy Wittman,"CLE, MIN, WAS",1999-2000,2015-2016,10,"Oct 28, 1959",United States,1999,2015,3
277,Dave Wohl,BRK,1985-1986,1987-1988,3,"Nov 1, 1949",United States,1985,1987,1
278,Mike Woodson,"ATL, NYK",2004-2005,2013-2014,9,"Mar 24, 1958",United States,2004,2013,2
279,Draff Young,SAC,1973-1974,1973-1974,1,-,-,1973,1973,1

In [152]:
head_coaches['Teams'] = head_coaches['Teams'].str.split(', ')

head_coaches_exploded = head_coaches.explode('Teams').reset_index(drop=True)

head_coaches_exploded

,Name,Teams,Start season,End season,Years in rule,Birth Date,Nationality,Start season short,End season short,Num of teams
0,Rick Adelman,POR,1988-1989,2013-2014,23,"Jun 16, 1946",United States,1988,2013,5
1,Rick Adelman,GOS,1988-1989,2013-2014,23,"Jun 16, 1946",United States,1988,2013,5
2,Rick Adelman,SAC,1988-1989,2013-2014,23,"Jun 16, 1946",United States,1988,2013,5
3,Rick Adelman,HOU,1988-1989,2013-2014,23,"Jun 16, 1946",United States,1988,2013,5
4,Rick Adelman,MIN,1988-1989,2013-2014,23,"Jun 16, 1946",United States,1988,2013,5
...,...,...,...,...,...,...,...,...,...,...
559,Randy Wittman,WAS,1999-2000,2015-2016,10,"Oct 28, 1959",United States,1999,2015,3
560,Dave Wohl,BRK,1985-1986,1987-1988,3,"Nov 1, 1949",United States,1985,1987,1
561,Mike Woodson,ATL,2004-2005,2013-2014,9,"Mar 24, 1958",United States,2004,2013,2
562,Mike Woodson,NYK,2004-2005,2013-2014,9,"Mar 24, 1958",United States,2004,2013,2
563,Draff Young,SAC,1973-1974,1973-1974,1,-,-,1973,1973,1

In [153]:
head_coaches_exploded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564 entries, 0 to 563
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                564 non-null    object
 1   Teams               564 non-null    object
 2   Start season        564 non-null    object
 3   End season          564 non-null    object
 4   Years in rule       564 non-null    int64
 5   Birth Date          564 non-null    object
 6   Nationality         564 non-null    object
 7   Start season short  564 non-null    int64
 8   End season short    564 non-null    object
 9   Num of teams        564 non-null    int64
dtypes: int64(3), object(7)
memory usage: 44.2+ KB

In [39]:
player_details = pd.read_csv('players_data.csv')
# player_details.drop(columns=['Unamed 0'], inplace=True)

player_details.drop(columns=['Unnamed: 0'], inplace=True)
player_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12844 entries, 0 to 12843
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   player_name        12844 non-null  object
 1   team_abbreviation  12844 non-null  object
 2   age                12844 non-null  float64
 3   player_height      12844 non-null  float64
 4   player_weight      12844 non-null  float64
 5   college            10990 non-null  object
 6   country            12844 non-null  object
 7   draft_year         12844 non-null  object
 8   draft_round        12844 non-null  object
 9   draft_number       12844 non-null  object
 10  gp                 12844 non-null  int64
 11  pts                12844 non-null  float64
 12  reb                12844 non-null  float64
 13  ast                12844 non-null  float64
 14  net_rating         12844 non-null  float64
 15  oreb_pct           12844 non-null  float64
 16  dreb_pct           12844 non-null  float64
 17  usg_pct            12844 non-null  float64
 18  ts_pct             12844 non-null  float64
 19  ast_pct            12844 non-null  float64
 20  season             12844 non-null  object
dtypes: float64(12), int64(1), object(8)
memory usage: 2.1+ MB

In [40]:
player_details["start_year"] = player_details["season"].str[:4].astype(int)

# Filter for seasons from 2009 onwards
filtered_player_details = player_details[player_details["start_year"] >= 2009]

In [41]:
filtered_player_details

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,start_year
5784,Sam Young,MEM,25.0,198.12,99.790240,Pittsburgh,USA,2009,2,36,...,2.5,0.7,-9.2,0.066,0.107,0.219,0.518,0.068,2009-10,2009
5785,Russell Westbrook,OKC,21.0,190.50,84.821704,UCLA,USA,2008,1,4,...,4.9,8.0,5.0,0.059,0.101,0.254,0.491,0.367,2009-10,2009
5786,Ryan Gomes,MIN,27.0,200.66,111.130040,Providence,USA,2005,2,50,...,4.6,1.6,-10.0,0.038,0.143,0.176,0.528,0.087,2009-10,2009
5787,Ryan Bowen,OKC,34.0,205.74,98.883056,Iowa,USA,1998,2,55,...,2.0,0.0,69.2,0.111,0.100,0.083,1.064,0.000,2009-10,2009
5788,Ryan Anderson,ORL,22.0,208.28,108.862080,California,USA,2008,1,21,...,3.2,0.6,10.4,0.091,0.164,0.239,0.574,0.069,2009-10,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,Joel Embiid,PHI,29.0,213.36,127.005760,Kansas,Cameroon,2014,1,3,...,10.2,4.2,8.8,0.057,0.243,0.370,0.655,0.233,2022-23,2022
12840,John Butler Jr.,POR,20.0,213.36,86.182480,Florida State,USA,Undrafted,Undrafted,Undrafted,...,0.9,0.6,-16.1,0.012,0.065,0.102,0.411,0.066,2022-23,2022
12841,John Collins,ATL,25.0,205.74,102.511792,Wake Forest,USA,2017,1,19,...,6.5,1.2,-0.2,0.035,0.180,0.168,0.593,0.052,2022-23,2022
12842,Jericho Sims,NYK,24.0,208.28,113.398000,Texas,USA,2021,2,58,...,4.7,0.5,-6.7,0.117,0.175,0.074,0.780,0.044,2022-23,2022
12843,JaMychal Green,GSW,33.0,205.74,102.965384,Alabama,USA,Undrafted,Undrafted,Undrafted,...,3.6,0.9,-8.2,0.087,0.164,0.169,0.650,0.094,2022-23,2022

CREATE TABLE dim_player_static (
    player_id PRIMARY KEY,
    player_name VARCHAR(100),
    draft_number INT,
    draft_round INT,
    draft_year INT,
    height VARCHAR(10),
    college VARCHAR(100),
    country VARCHAR(50)
);

CREATE TABLE dim_player_dynamic (
    player_id INT,
    team_id INT,
    season INT,
    weight FLOAT,
    PRIMARY KEY (player_id, team_id, season),
    FOREIGN KEY (player_id) REFERENCES dim_player_static(player_id),
    FOREIGN KEY (team_id) REFERENCES dim_team(team_id),
    FOREIGN KEY (season) REFERENCES dim_season(season_id)
);

CREATE TABLE dim_team (
    team_id SERIAL PRIMARY KEY,
    abbreviation VARCHAR(10),
    nickname VARCHAR(50),
    year_founded INT,
    start_year INT,
    end_year INT,
    city VARCHAR(50),
    arena VARCHAR(100),
    arena_capacity INT,
    conference VARCHAR(10),
    owner VARCHAR(100),
    general_manager VARCHAR(100),
    head_coach VARCHAR(50)
);

CREATE TABLE dim_date (
    date_id SERIAL PRIMARY KEY,
    year INT,
    month INT,
    day INT
);

CREATE TABLE dim_season (
    season_id SERIAL PRIMARY KEY,
    season_year INT
);


CREATE TABLE fact_game (
    game_id SERIAL PRIMARY KEY,
    date_id INT,
    season_id INT,
    home_team_id INT,
    away_team_id INT,
    season INT,
    pts_home INT,
    ast_home INT,
    reb_home INT,
    pts_away INT,
    ast_away INT,
    reb_away INT,
    oreb_home INT,
    oreb_away INT,
    dreb_home INT,
    dreb_away INT,
    block_home INT,
    block_away INT,
    assist_home INT,
    assist_away INT,
    steal_home INT,
    steal_away INT,
    turnover_home INT,
    turnover_away INT,
    personal_foul_home INT,
    personal_foul_away INT,
    FOREIGN KEY (date_id) REFERENCES dim_date(date_id),
    FOREIGN KEY (season_id) REFERENCES dim_season(season_id),
    FOREIGN KEY (home_team_id) REFERENCES dim_team(team_id),
    FOREIGN KEY (away_team_id) REFERENCES dim_team(team_id)
);
CREATE TABLE fact_player_performance (
    performance_id SERIAL PRIMARY KEY,
    game_id INT,
    player_id INT,
    min_played INT,
    field_goal_made INT,
    field_goal_attempt INT,
    free_throw_made INT,
    free_throw_attempt INT,
    field_goal_3_made INT,
    field_goal_3_attempt INT,
    assist INT,
    rebound INT,
    block INT,
    steal INT,
    personal_foul INT,
    FOREIGN KEY (game_id) REFERENCES fact_game(game_id),
    FOREIGN KEY (player_id) REFERENCES dim_player_static(player_id)
);


CREATE TABLE dim_ranking (
    ranking_id SERIAL PRIMARY KEY,
    team_id INT,
    season_id INT,
    conference varchar(10),
    game_played INT,
    wins INT,
    lose INT,
    FOREIGN KEY (team_id) REFERENCES dim_team(team_id),
    FOREIGN KEY (season_id) REFERENCES dim_season(season_id)
);

In [24]:
import pandas as pd

# Read the ranking CSV
df = pd.read_csv("ranking.csv", parse_dates=["STANDINGSDATE"])

# Drop unnecessary columns
df.drop(columns=['RETURNTOPLAY', 'LEAGUE_ID', 'TEAM', 'W_PCT', 'HOME_RECORD', 'ROAD_RECORD'], inplace=True)

# Step 1: Filter for regular season (SEASON_ID starting with '2')
df['season_type'] = df['SEASON_ID'].astype(str).str[0]
df = df[df['season_type'] == '2'].copy()

# Step 2: Extract the season year from SEASON_ID (e.g., 22022 -> 2022)
df['season_year'] = df['SEASON_ID'].astype(str).str[1:].astype(int)

# Step 3: Prepare dim_season from season_year
dim_season = pd.DataFrame(df['season_year'].unique(), columns=['season_year'])
dim_season['season_id'] = dim_season.index + 1

# Map season_year to season_id
df = df.merge(dim_season[['season_year', 'season_id']], on='season_year', how='left')

# Step 4: Get the last entry for each TEAM_ID per season_year
latest_per_season = (df.sort_values(["TEAM_ID", "season_year", "STANDINGSDATE"])
                     .groupby(["TEAM_ID", "season_year"])
                     .last()
                     .reset_index())

# Step 5: Prepare dim_date from STANDINGSDATE
dim_date = pd.DataFrame(latest_per_season['STANDINGSDATE'].unique(), columns=['date'])
dim_date['date'] = pd.to_datetime(dim_date['date'])  # Ensure date is in datetime format
dim_date['year'] = dim_date['date'].dt.year
dim_date['month'] = dim_date['date'].dt.month
dim_date['day'] = dim_date['date'].dt.day
dim_date['date_id'] = dim_date.index + 1

# Map STANDINGSDATE to date_id
latest_per_season = latest_per_season.merge(dim_date[['date', 'date_id']], 
                                          left_on='STANDINGSDATE', 
                                          right_on='date', 
                                          how='left')

# Step 6: Prepare dim_ranking with date_id
dim_ranking = latest_per_season[['TEAM_ID', 'season_id', 'CONFERENCE', 'G', 'W', 'L', 'date_id']]
dim_ranking.rename(columns={
    'TEAM_ID': 'team_id',
    'CONFERENCE': 'conference',
    'G': 'game_played',
    'W': 'wins',
    'L': 'lose'
}, inplace=True)
dim_ranking['ranking_id'] = dim_ranking.index + 1

# Drop temporary columns
dim_ranking.drop(columns=['SEASON_ID', 'season_year', 'season_type'], inplace=True, errors='ignore')

print("Transformed dim_ranking:")
print(dim_ranking.head())
print("\nPrepared dim_season:")
print(dim_season.head())
print("\nPrepared dim_date:")
print(dim_date.head())

Transformed dim_ranking:
      team_id  season_id conference  game_played  wins  lose  date_id  \
0  1610612737         16       East           82    35    47        1
1  1610612737         15       East           82    28    54        2
2  1610612737         14       East           82    13    69        3
3  1610612737         13       East           82    26    56        4
4  1610612737         12       East           82    30    52        5

   ranking_id
0           1
1           2
2           3
3           4
4           5

Prepared dim_season:
   season_year  season_id
0         2022          1
1         2021          2
2         2020          3
3         2019          4
4         2013          5

Prepared dim_date:
        date  year  month  day  date_id
0 2003-10-04  2003     10    4        1
1 2004-10-11  2004     10   11        2
2 2005-10-09  2005     10    9        3
3 2006-10-04  2006     10    4        4
4 2007-10-05  2007     10    5        5

C:\Users\pc\AppData\Local\Temp\ipykernel_38732\2198732259.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_ranking.rename(columns={
C:\Users\pc\AppData\Local\Temp\ipykernel_38732\2198732259.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_ranking['ranking_id'] = dim_ranking.index + 1
C:\Users\pc\AppData\Local\Temp\ipykernel_38732\2198732259.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_ranking.drop(columns=['SEASON_ID', 'season_year', 'season_type'], inplace=True, errors='ignore')

In [25]:
teams = pd.read_csv("teams.csv")

# Step 1: Prepare dim_team from teams.csv (without dim_coach)
dim_team = teams[['TEAM_ID', 'ABBREVIATION', 'NICKNAME', 'YEARFOUNDED', 'MIN_YEAR', 'MAX_YEAR', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER', 'GENERALMANAGER', 'HEADCOACH']]
dim_team.rename(columns={
    'TEAM_ID': 'team_id',
    'ABBREVIATION': 'abbreviation',
    'NICKNAME': 'nickname',
    'YEARFOUNDED': 'year_founded',
    'MIN_YEAR': 'start_year',
    'MAX_YEAR': 'end_year',
    'CITY': 'city',
    'ARENA': 'arena',
    'ARENACAPACITY': 'arena_capacity',
    'OWNER': 'owner',
    'GENERALMANAGER': 'general_manager',
    'HEADCOACH': 'head_coach'  # Map directly to head_coach
}, inplace=True)

dim_team['conference'] = 'Unknown'  # Not in teams.csv


dim_team

C:\Users\pc\AppData\Local\Temp\ipykernel_38732\1976885723.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_team.rename(columns={
C:\Users\pc\AppData\Local\Temp\ipykernel_38732\1976885723.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_team['conference'] = 'Unknown'  # Not in teams.csv

,team_id,abbreviation,nickname,year_founded,start_year,end_year,city,arena,arena_capacity,owner,general_manager,head_coach,conference
0,1610612737,ATL,Hawks,1949,1949,2019,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Unknown
1,1610612738,BOS,Celtics,1946,1946,2019,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Unknown
2,1610612740,NOP,Pelicans,2002,2002,2019,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,Unknown
3,1610612741,CHI,Bulls,1966,1966,2019,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Unknown
4,1610612742,DAL,Mavericks,1980,1980,2019,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Unknown
5,1610612743,DEN,Nuggets,1976,1976,2019,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,Unknown
6,1610612745,HOU,Rockets,1967,1967,2019,Houston,Toyota Center,18104.0,Tilman Fertitta,Daryl Morey,Mike D'Antoni,Unknown
7,1610612746,LAC,Clippers,1970,1970,2019,Los Angeles,Staples Center,19060.0,Steve Ballmer,Michael Winger,Doc Rivers,Unknown
8,1610612747,LAL,Lakers,1948,1948,2019,Los Angeles,Staples Center,19060.0,Jerry Buss Family Trust,Rob Pelinka,Frank Vogel,Unknown
9,1610612748,MIA,Heat,1988,1988,2019,Miami,AmericanAirlines Arena,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Unknown
10,1610612749,MIL,Bucks,1968,1968,2019,Milwaukee,Fiserv Forum,17500.0,Wesley Edens & Marc Lasry,Jon Horst,Mike Budenholzer,Unknown
11,1610612750,MIN,Timberwolves,1989,1989,2019,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Unknown
12,1610612751,BKN,Nets,1976,1976,2019,Brooklyn,Barclays Center,NaN,Joe Tsai,Sean Marks,Kenny Atkinson,Unknown
13,1610612752,NYK,Knicks,1946,1946,2019,New York,Madison Square Garden,19763.0,Cablevision (James Dolan),Steve Mills,David Fizdale,Unknown
14,1610612753,ORL,Magic,1989,1989,2019,Orlando,Amway Center,0.0,Rick DeVos,John Hammond,Steve Clifford,Unknown
15,1610612754,IND,Pacers,1976,1976,2019,Indiana,Bankers Life Fieldhouse,18345.0,Herb Simon,Kevin Pritchard,Nate McMillan,Unknown
16,1610612755,PHI,76ers,1949,1949,2019,Philadelphia,Wells Fargo Center,NaN,Joshua Harris,Elton Brand,Brett Brown,Unknown
17,1610612756,PHX,Suns,1968,1968,2019,Phoenix,Talking Stick Resort Arena,NaN,Robert Sarver,James Jones,Monty Williams,Unknown
18,1610612757,POR,Trail Blazers,1970,1970,2019,Portland,Moda Center,19980.0,Paul Allen,Neil Olshey,Terry Stotts,Unknown
19,1610612758,SAC,Kings,1948,1948,2019,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Unknown
20,1610612759,SAS,Spurs,1976,1976,2019,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Unknown
21,1610612760,OKC,Thunder,1967,1967,2019,Oklahoma City,Chesapeake Energy Arena,19163.0,Clay Bennett,Sam Presti,Billy Donovan,Unknown
22,1610612761,TOR,Raptors,1995,1995,2019,Toronto,Scotiabank Arena,19800.0,Maple Leaf Sports and Entertainment,Masai Ujiri,Nick Nurse,Unknown
23,1610612762,UTA,Jazz,1974,1974,2019,Utah,Vivint Smart Home Arena,20148.0,Greg Miller,Dennis Lindsey,Quin Snyder,Unknown
24,1610612763,MEM,Grizzlies,1995,1995,2019,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Unknown
25,1610612764,WAS,Wizards,1961,1961,2019,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Unknown
26,1610612765,DET,Pistons,1948,1948,2019,Detroit,Little Caesars Arena,21000.0,Tom Gores,Ed Stefanski,Dwane Casey,Unknown
27,1610612766,CHA,Hornets,1988,1988,2019,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,James Borrego,Unknown
28,1610612739,CLE,Cavaliers,1970,1970,2019,Cleveland,Quicken Loans Arena,20562.0,Dan Gilbert,Koby Altman,John Beilein,Unknown
29,1610612744,GSW,Warriors,1946,1946,2019,Golden State,Chase Center,19596.0,Joe Lacob,Bob Myers,Steve Kerr,Unknown

In [ ]:
import pandas as pd

# Read the CSV files
players = pd.read_csv("players.csv")
players_data = pd.read_csv("players_data.csv")


# Map season to season_id in both datasets
players = players.merge(dim_season[['season_year', 'season_id']], on='season_year', how='left')
players_data = players_data.merge(dim_season[['season_year', 'season_id']], on='season_year', how='left')

# Step 3: Prepare dim_player_static
# Start with players.csv to get unique PLAYER_ID and PLAYER_NAME
dim_player_static = players[['PLAYER_ID', 'PLAYER_NAME']].drop_duplicates().copy()
dim_player_static.rename(columns={'PLAYER_ID': 'player_id', 'PLAYER_NAME': 'player_name'}, inplace=True)

# Ensure player_id is an integer
dim_player_static['player_id'] = dim_player_static['player_id'].astype(int)

# Merge with players_data to get static attributes (height, college, country, draft info)
players_data_static = players_data[['player_name', 'player_height', 'college', 'country', 'draft_year', 'draft_round', 'draft_number']].drop_duplicates(subset=['player_name']).copy()
dim_player_static = dim_player_static.merge(players_data_static, on='player_name', how='left')

# Rename player_height to height and keep it as a numeric value (in cm)
dim_player_static.rename(columns={'player_height': 'height'}, inplace=True)

# Fill missing static attributes with defaults
dim_player_static.fillna({
    'draft_year': 'undrafted',
    'draft_round': 0,
    'draft_number': 0,
    'height': 0,  # Default to 0 for missing heights (FLOAT column)
    'college': 'Unknown',
    'country': 'Unknown'
}, inplace=True)

# Ensure player_id is unique
dim_player_static = dim_player_static.drop_duplicates(subset=['player_id'])

# Debug: Check player_id in dim_player_static
print("player_id in dim_player_static (should be integer):")
print(dim_player_static[['player_id']].head())
print("player_id dtype:", dim_player_static['player_id'].dtype)

# Step 4: Prepare dim_player_dynamic
# From players.csv (no weight data)
dim_player_dynamic_players = players[['PLAYER_ID', 'TEAM_ID', 'season_id']].copy()
dim_player_dynamic_players.rename(columns={'PLAYER_ID': 'player_id', 'TEAM_ID': 'team_id'}, inplace=True)
dim_player_dynamic_players['weight'] = None  # No weight data in players.csv
dim_player_dynamic_players['source'] = 'players'  # Add a source column for debugging

# Ensure player_id is an integer
dim_player_dynamic_players['player_id'] = dim_player_dynamic_players['player_id'].astype(int)

# From players_data.csv (has weight data)
dim_player_dynamic_data = players_data[['player_name', 'team_abbreviation', 'season_id', 'player_weight']].copy()
dim_player_dynamic_data.rename(columns={'player_weight': 'weight'}, inplace=True)

# Ensure weight is numeric
dim_player_dynamic_data['weight'] = pd.to_numeric(dim_player_dynamic_data['weight'], errors='coerce')

# Map player_name to player_id
dim_player_dynamic_data = dim_player_dynamic_data.merge(dim_player_static[['player_name', 'player_id']], on='player_name', how='left')

# Debug: Check for NaN player_id values after merge
print("\nRows with NaN player_id after merging with dim_player_static:")
print(dim_player_dynamic_data[dim_player_dynamic_data['player_id'].isna()])

# Drop rows with NaN player_id (unmatched players)
dim_player_dynamic_data = dim_player_dynamic_data.dropna(subset=['player_id'])

# Ensure player_id is an integer after merge
dim_player_dynamic_data['player_id'] = dim_player_dynamic_data['player_id'].astype(int)

# Map team_abbreviation to team_id using dim_team
dim_player_dynamic_data = dim_player_dynamic_data.merge(dim_team[['abbreviation', 'team_id']], 
                                                        left_on='team_abbreviation', 
                                                        right_on='abbreviation', 
                                                        how='left')

# Select columns for dim_player_dynamic
dim_player_dynamic_data = dim_player_dynamic_data[['player_id', 'team_id', 'season_id', 'weight']]
dim_player_dynamic_data['source'] = 'players_data'  # Add a source column for debugging

# Combine both sources
# Note: dim_player_dynamic_data may be empty if all rows were unmatched
if not dim_player_dynamic_data.empty:
    dim_player_dynamic = pd.concat([dim_player_dynamic_players, dim_player_dynamic_data], ignore_index=True)
else:
    print("\nWarning: dim_player_dynamic_data is empty after dropping unmatched players.")
    dim_player_dynamic = dim_player_dynamic_players.copy()

# Ensure player_id is an integer after concatenation
dim_player_dynamic['player_id'] = dim_player_dynamic['player_id'].astype(int)

# Clean dim_player_dynamic
dim_player_dynamic = dim_player_dynamic.drop_duplicates(subset=['player_id', 'team_id', 'season_id'])

# Fill missing weights with 0
dim_player_dynamic['weight'] = dim_player_dynamic['weight'].fillna(0)

# Debug: Check final player_id and weights
print("\nFinal dim_player_dynamic (player_id should be integer):")
print(dim_player_dynamic[['player_id', 'source', 'weight']].head(10))
print("player_id dtype:", dim_player_dynamic['player_id'].dtype)

# Drop the source column (used for debugging)
dim_player_dynamic.drop(columns=['source'], inplace=True)

print("\nTransformed dim_team:")
print(dim_team.head())
print("\nTransformed dim_player_static:")
print(dim_player_static.head())
print("\nTransformed dim_player_dynamic:")
print(dim_player_dynamic.head())
print("\nUpdated dim_season:")
print(dim_season.head())

KeyError: 'season_year'

In [ ]:
import pandas as pd

# Read all CSV files
ranking = pd.read_csv("ranking.csv", parse_dates=["STANDINGSDATE"])
teams = pd.read_csv("teams.csv")
players = pd.read_csv("players.csv")
players_data = pd.read_csv("players_data.csv")

# Step 1: Prepare dim_season (combine seasons from all datasets)
# From ranking.csv (SEASON_ID like 22022 -> 2022)
ranking['season_type'] = ranking['SEASON_ID'].astype(str).str[0]
ranking = ranking[ranking['season_type'] == '2'].copy()
ranking['season_year'] = ranking['SEASON_ID'].astype(str).str[1:].astype(int)

# From players.csv (SEASON like 2019)
players['season_year'] = players['SEASON'].astype(int)

# From players_data.csv (season like 1996-97)
players_data['season_year'] = players_data['season'].apply(lambda x: int(x.split('-')[0]))

# Combine unique season years from all datasets
all_season_years = pd.concat([
    pd.Series(ranking['season_year'].unique()),
    pd.Series(players['season_year'].unique()),
    pd.Series(players_data['season_year'].unique())
]).unique()
dim_season = pd.DataFrame(all_season_years, columns=['season_year'])
dim_season['season_id'] = dim_season.index + 1

# Map season_year to season_id in all datasets
ranking = ranking.merge(dim_season[['season_year', 'season_id']], on='season_year', how='left')
players = players.merge(dim_season[['season_year', 'season_id']], on='season_year', how='left')
players_data = players_data.merge(dim_season[['season_year', 'season_id']], on='season_year', how='left')

# Step 2: Prepare dim_team from teams.csv
dim_team = teams[['TEAM_ID', 'ABBREVIATION', 'NICKNAME', 'YEARFOUNDED', 'MIN_YEAR', 'MAX_YEAR', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER', 'GENERALMANAGER', 'HEADCOACH']].copy()
dim_team.rename(columns={
    'TEAM_ID': 'team_id',
    'ABBREVIATION': 'abbreviation',
    'NICKNAME': 'nickname',
    'YEARFOUNDED': 'year_founded',
    'MIN_YEAR': 'start_year',
    'MAX_YEAR': 'end_year',
    'CITY': 'city',
    'ARENA': 'arena',
    'ARENACAPACITY': 'arena_capacity',
    'OWNER': 'owner',
    'GENERALMANAGER': 'general_manager',
    'HEADCOACH': 'head_coach'
}, inplace=True)

# Add conference from ranking.csv
# Extract TEAM_ID and CONFERENCE from ranking.csv
team_conference = ranking[['TEAM_ID', 'CONFERENCE']].drop_duplicates().copy()
team_conference.rename(columns={'TEAM_ID': 'team_id', 'CONFERENCE': 'conference'}, inplace=True)

# Group by team_id and take the most common conference (in case of inconsistencies)
team_conference = (team_conference.groupby('team_id')['conference']
                   .agg(lambda x: x.mode()[0] if not x.empty else 'Unknown')
                   .reset_index())

# Merge conference into dim_team
dim_team = dim_team.merge(team_conference, on='team_id', how='left')

# Fill any missing conferences with 'Unknown'
dim_team['conference'] = dim_team['conference'].fillna('Unknown')

# Step 3: Prepare dim_ranking and dim_date from ranking.csv
# Drop unnecessary columns
ranking.drop(columns=['RETURNTOPLAY', 'LEAGUE_ID', 'TEAM', 'W_PCT', 'HOME_RECORD', 'ROAD_RECORD'], inplace=True)

# Get the last entry for each TEAM_ID per season_year
latest_per_season = (ranking.sort_values(["TEAM_ID", "season_year", "STANDINGSDATE"])
                     .groupby(["TEAM_ID", "season_year"])
                     .last()
                     .reset_index())

# Prepare dim_date from STANDINGSDATE
dim_date = pd.DataFrame(latest_per_season['STANDINGSDATE'].unique(), columns=['date'])
dim_date['date'] = pd.to_datetime(dim_date['date'])  # Ensure date is in datetime format
dim_date['year'] = dim_date['date'].dt.year
dim_date['month'] = dim_date['date'].dt.month
dim_date['day'] = dim_date['date'].dt.day
dim_date['date_id'] = dim_date.index + 1

# Map STANDINGSDATE to date_id
latest_per_season = latest_per_season.merge(dim_date[['date', 'date_id']], 
                                          left_on='STANDINGSDATE', 
                                          right_on='date', 
                                          how='left')

# Prepare dim_ranking with date_id
dim_ranking = latest_per_season[['TEAM_ID', 'season_id', 'CONFERENCE', 'G', 'W', 'L', 'date_id']].copy()
dim_ranking.rename(columns={
    'TEAM_ID': 'team_id',
    'CONFERENCE': 'conference',
    'G': 'game_played',
    'W': 'wins',
    'L': 'lose'
}, inplace=True)
dim_ranking['ranking_id'] = dim_ranking.index + 1

# Drop temporary columns
dim_ranking.drop(columns=['SEASON_ID', 'season_year', 'season_type'], inplace=True, errors='ignore')

# Step 4: Prepare dim_player_static and dim_player_dynamic
# Prepare dim_player_static
dim_player_static = players[['PLAYER_ID', 'PLAYER_NAME']].drop_duplicates().copy()
dim_player_static.rename(columns={'PLAYER_ID': 'player_id', 'PLAYER_NAME': 'player_name'}, inplace=True)

# Ensure player_id is an integer
dim_player_static['player_id'] = dim_player_static['player_id'].astype(int)

# Merge with players_data to get static attributes
players_data_static = players_data[['player_name', 'player_height', 'college', 'country', 'draft_year', 'draft_round', 'draft_number']].drop_duplicates(subset=['player_name']).copy()
dim_player_static = dim_player_static.merge(players_data_static, on='player_name', how='left')

# Rename player_height to height and keep it as a numeric value (in cm)
dim_player_static.rename(columns={'player_height': 'height'}, inplace=True)

# Fill missing static attributes with defaults
dim_player_static.fillna({
    'draft_year': 0,
    'draft_round': 0,
    'draft_number': 0,
    'height': 0,
    'college': 'Unknown',
    'country': 'Unknown'
}, inplace=True)

# Ensure player_id is unique
dim_player_static = dim_player_static.drop_duplicates(subset=['player_id'])

# Prepare dim_player_dynamic
# From players.csv (no weight data)
dim_player_dynamic_players = players[['PLAYER_ID', 'TEAM_ID', 'season_id']].copy()
dim_player_dynamic_players.rename(columns={'PLAYER_ID': 'player_id', 'TEAM_ID': 'team_id'}, inplace=True)
dim_player_dynamic_players['weight'] = None
dim_player_dynamic_players['source'] = 'players'

# Ensure player_id is an integer
dim_player_dynamic_players['player_id'] = dim_player_dynamic_players['player_id'].astype(int)

# From players_data.csv (has weight data)
dim_player_dynamic_data = players_data[['player_name', 'team_abbreviation', 'season_id', 'player_weight']].copy()
dim_player_dynamic_data.rename(columns={'player_weight': 'weight'}, inplace=True)

# Ensure weight is numeric
dim_player_dynamic_data['weight'] = pd.to_numeric(dim_player_dynamic_data['weight'], errors='coerce')

# Map player_name to player_id
dim_player_dynamic_data = dim_player_dynamic_data.merge(dim_player_static[['player_name', 'player_id']], on='player_name', how='left')

# Drop rows with NaN player_id (unmatched players)
dim_player_dynamic_data = dim_player_dynamic_data.dropna(subset=['player_id'])

# Ensure player_id is an integer after merge
dim_player_dynamic_data['player_id'] = dim_player_dynamic_data['player_id'].astype(int)

# Map team_abbreviation to team_id using dim_team
dim_player_dynamic_data = dim_player_dynamic_data.merge(dim_team[['abbreviation', 'team_id']], 
                                                        left_on='team_abbreviation', 
                                                        right_on='abbreviation', 
                                                        how='left')

# Select columns for dim_player_dynamic
dim_player_dynamic_data = dim_player_dynamic_data[['player_id', 'team_id', 'season_id', 'weight']]
dim_player_dynamic_data['source'] = 'players_data'

# Combine both sources
if not dim_player_dynamic_data.empty:
    dim_player_dynamic = pd.concat([dim_player_dynamic_players, dim_player_dynamic_data], ignore_index=True)
else:
    print("\nWarning: dim_player_dynamic_data is empty after dropping unmatched players.")
    dim_player_dynamic = dim_player_dynamic_players.copy()

# Ensure player_id is an integer after concatenation
dim_player_dynamic['player_id'] = dim_player_dynamic['player_id'].astype(int)

# Clean dim_player_dynamic
dim_player_dynamic = dim_player_dynamic.drop_duplicates(subset=['player_id', 'team_id', 'season_id'])

# Fill missing weights with 0
dim_player_dynamic['weight'] = dim_player_dynamic['weight'].fillna(0)

# Drop the source column
dim_player_dynamic.drop(columns=['source'], inplace=True)

# Print results
# print("\nTransformed dim_team:")
# print(dim_team.head())
# print("\nTransformed dim_ranking:")
# print(dim_ranking.head())
# print("\nTransformed dim_player_static:")
# print(dim_player_static.head())
# print("\nTransformed dim_player_dynamic:")
# print(dim_player_dynamic.head()) 
# print("\nPrepared dim_season:")
# print(dim_season.head())
# print("\nPrepared dim_date:")
# print(dim_date.head())

C:\Users\pc\AppData\Local\Temp\ipykernel_38732\3235688397.py:172: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dim_player_dynamic = pd.concat([dim_player_dynamic_players, dim_player_dynamic_data], ignore_index=True)

         date  year  month  day  date_id
0  2003-10-04  2003     10    4        1
1  2004-10-11  2004     10   11        2
2  2005-10-09  2005     10    9        3
3  2006-10-04  2006     10    4        4
4  2007-10-05  2007     10    5        5
5  2008-10-04  2008     10    4        6
6  2009-09-30  2009      9   30        7
7  2010-10-02  2010     10    2        8
8  2011-12-15  2011     12   15        9
9  2012-10-04  2012     10    4       10
10 2013-10-04  2013     10    4       11
11 2014-10-03  2014     10    3       12
12 2015-10-01  2015     10    1       13
13 2016-09-30  2016      9   30       14
14 2017-09-29  2017      9   29       15
15 2018-09-27  2018      9   27       16
16 2019-09-29  2019      9   29       17
17 2020-12-10  2020     12   10       18
18 2021-10-02  2021     10    2       19
19 2022-09-29  2022      9   29       20
20 2022-12-22  2022     12   22       21

In [65]:
import pandas as pd

# Read all CSV files
ranking = pd.read_csv("ranking.csv", parse_dates=["STANDINGSDATE"])
teams = pd.read_csv("teams.csv")
players = pd.read_csv("players.csv")
players_data = pd.read_csv("players_data.csv")
games = pd.read_csv("games.csv", parse_dates=["GAME_DATE_EST"])
game_details = pd.read_csv("games_details.csv")

# Step 1: Prepare dim_season (combine seasons from all datasets)
# From ranking.csv (SEASON_ID like 22022 -> 2022)
ranking['season_type'] = ranking['SEASON_ID'].astype(str).str[0]
ranking = ranking[ranking['season_type'] == '2'].copy()
ranking['season_year'] = ranking['SEASON_ID'].astype(str).str[1:].astype(int)

# From players.csv (SEASON like 2019)
players['season_year'] = players['SEASON'].astype(int)

# From players_data.csv (season like 1996-97)
players_data['season_year'] = players_data['season'].apply(lambda x: int(x.split('-')[0]))

# From games.csv (SEASON like 2022)
games['season_year'] = games['SEASON'].astype(int)

# Combine unique season years from all datasets
all_season_years = pd.concat([
    pd.Series(ranking['season_year'].unique()),
    pd.Series(players['season_year'].unique()),
    pd.Series(players_data['season_year'].unique()),
    pd.Series(games['season_year'].unique())
]).unique()
dim_season = pd.DataFrame(all_season_years, columns=['season_year'])
dim_season['season_id'] = dim_season.index + 1

# Map season_year to season_id in all datasets
ranking = ranking.merge(dim_season[['season_year', 'season_id']], on='season_year', how='left')
players = players.merge(dim_season[['season_year', 'season_id']], on='season_year', how='left')
players_data = players_data.merge(dim_season[['season_year', 'season_id']], on='season_year', how='left')
games = games.merge(dim_season[['season_year', 'season_id']], on='season_year', how='left')

# Step 2: Prepare dim_team from teams.csv
dim_team = teams[['TEAM_ID', 'ABBREVIATION', 'NICKNAME', 'YEARFOUNDED', 'MIN_YEAR', 'MAX_YEAR', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER', 'GENERALMANAGER', 'HEADCOACH']].copy()
dim_team.rename(columns={
    'TEAM_ID': 'team_id',
    'ABBREVIATION': 'abbreviation',
    'NICKNAME': 'nickname',
    'YEARFOUNDED': 'year_founded',
    'MIN_YEAR': 'start_year',
    'MAX_YEAR': 'end_year',
    'CITY': 'city',
    'ARENA': 'arena',
    'ARENACAPACITY': 'arena_capacity',
    'OWNER': 'owner',
    'GENERALMANAGER': 'general_manager',
    'HEADCOACH': 'head_coach'
}, inplace=True)

# Ensure team_id is an integer
dim_team['team_id'] = dim_team['team_id'].astype(int)

# Ensure year_founded, start_year, end_year are integers
dim_team['year_founded'] = dim_team['year_founded'].astype(int)
dim_team['start_year'] = dim_team['start_year'].astype(int)
dim_team['end_year'] = dim_team['end_year'].astype(int)

# Fill NaN in arena_capacity with 0 and ensure it's an integer
dim_team['arena_capacity'] = dim_team['arena_capacity'].fillna(0).astype(int)

# Fill NaN in string columns with 'Unknown'
dim_team.fillna({
    'abbreviation': 'Unknown',
    'nickname': 'Unknown',
    'city': 'Unknown',
    'arena': 'Unknown',
    'owner': 'Unknown',
    'general_manager': 'Unknown',
    'head_coach': 'Unknown'
}, inplace=True)

# Add conference from ranking.csv
team_conference = ranking[['TEAM_ID', 'CONFERENCE']].drop_duplicates().copy()
team_conference.rename(columns={'TEAM_ID': 'team_id', 'CONFERENCE': 'conference'}, inplace=True)
team_conference = (team_conference.groupby('team_id')['conference']
                   .agg(lambda x: x.mode()[0] if not x.empty else 'Unknown')
                   .reset_index())
dim_team = dim_team.merge(team_conference, on='team_id', how='left')
dim_team['conference'] = dim_team['conference'].fillna('Unknown')

# Ensure team_id is unique
dim_team = dim_team.drop_duplicates(subset=['team_id'])

# Step 3: Prepare dim_date (combine dates from ranking.csv and games.csv)
# Dates from ranking.csv
ranking_dates = pd.DataFrame(latest_per_season['STANDINGSDATE'].unique(), columns=['date'])

# Dates from games.csv
game_dates = pd.DataFrame(games['GAME_DATE_EST'].unique(), columns=['date'])

# Combine unique dates
all_dates = pd.concat([ranking_dates, game_dates]).drop_duplicates().reset_index(drop=True)
dim_date = pd.DataFrame(all_dates, columns=['date'])
dim_date['date'] = pd.to_datetime(dim_date['date'])
dim_date['year'] = dim_date['date'].dt.year.astype(int)
dim_date['month'] = dim_date['date'].dt.month.astype(int)
dim_date['day'] = dim_date['date'].dt.day.astype(int)
dim_date['date_id'] = dim_date.index + 1

# Step 4: Prepare dim_ranking from ranking.csv
# Drop unnecessary columns
ranking.drop(columns=['RETURNTOPLAY', 'LEAGUE_ID', 'TEAM', 'W_PCT', 'HOME_RECORD', 'ROAD_RECORD'], inplace=True)

# Get the last entry for each TEAM_ID per season_year
latest_per_season = (ranking.sort_values(["TEAM_ID", "season_year", "STANDINGSDATE"])
                     .groupby(["TEAM_ID", "season_year"])
                     .last()
                     .reset_index())

# Map STANDINGSDATE to date_id
latest_per_season = latest_per_season.merge(dim_date[['date', 'date_id']], 
                                          left_on='STANDINGSDATE', 
                                          right_on='date', 
                                          how='left')

# Prepare dim_ranking with date_id
dim_ranking = latest_per_season[['TEAM_ID', 'season_id', 'CONFERENCE', 'G', 'W', 'L', 'date_id']].copy()
dim_ranking.rename(columns={
    'TEAM_ID': 'team_id',
    'CONFERENCE': 'conference',
    'G': 'game_played',
    'W': 'wins',
    'L': 'lose'
}, inplace=True)
dim_ranking['ranking_id'] = dim_ranking.index + 1

# Ensure numeric columns are integers
dim_ranking['team_id'] = dim_ranking['team_id'].astype(int)
dim_ranking['season_id'] = dim_ranking['season_id'].astype(int)
dim_ranking['game_played'] = dim_ranking['game_played'].astype(int)
dim_ranking['wins'] = dim_ranking['wins'].astype(int)
dim_ranking['lose'] = dim_ranking['lose'].astype(int)
dim_ranking['date_id'] = dim_ranking['date_id'].astype(int)
dim_ranking['ranking_id'] = dim_ranking['ranking_id'].astype(int)

# Fill any missing string columns
dim_ranking['conference'] = dim_ranking['conference'].fillna('Unknown')

# Drop temporary columns
dim_ranking.drop(columns=['SEASON_ID', 'season_year', 'season_type'], inplace=True, errors='ignore')

# Step 5: Prepare dim_player_static and dim_player_dynamic
# Prepare dim_player_static
dim_player_static = players[['PLAYER_ID', 'PLAYER_NAME']].drop_duplicates().copy()
dim_player_static.rename(columns={'PLAYER_ID': 'player_id', 'PLAYER_NAME': 'player_name'}, inplace=True)

# Ensure player_id is an integer
dim_player_static['player_id'] = dim_player_static['player_id'].astype(int)

# Merge with players_data to get static attributes
players_data_static = players_data[['player_name', 'player_height', 'college', 'country', 'draft_year', 'draft_round', 'draft_number']].drop_duplicates(subset=['player_name']).copy()
dim_player_static = dim_player_static.merge(players_data_static, on='player_name', how='left')

# Rename player_height to height and keep it as a numeric value (in cm)
dim_player_static.rename(columns={'player_height': 'height'}, inplace=True)

# Fill missing static attributes with defaults
dim_player_static.fillna({
    'draft_year': 'Undrafted',
    'draft_round': 'Undrafted',
    'draft_number': 'Undrafted',
    'height': 0,
    'college': 'Unknown',
    'country': 'Unknown'
}, inplace=True)


# Ensure player_id is unique
dim_player_static = dim_player_static.drop_duplicates(subset=['player_id'])

# Prepare dim_player_dynamic
# From players.csv (no weight data)
dim_player_dynamic_players = players[['PLAYER_ID', 'TEAM_ID', 'season_id']].copy()
dim_player_dynamic_players.rename(columns={'PLAYER_ID': 'player_id', 'TEAM_ID': 'team_id'}, inplace=True)
dim_player_dynamic_players['weight'] = None
dim_player_dynamic_players['source'] = 'players'

# Ensure player_id and team_id are integers
dim_player_dynamic_players['player_id'] = dim_player_dynamic_players['player_id'].astype(int)
dim_player_dynamic_players['team_id'] = dim_player_dynamic_players['team_id'].astype(int)
dim_player_dynamic_players['season_id'] = dim_player_dynamic_players['season_id'].astype(int)

# From players_data.csv (has weight data)
dim_player_dynamic_data = players_data[['player_name', 'team_abbreviation', 'season_id', 'player_weight']].copy()
dim_player_dynamic_data.rename(columns={'player_weight': 'weight'}, inplace=True)

# Ensure weight is numeric
dim_player_dynamic_data['weight'] = pd.to_numeric(dim_player_dynamic_data['weight'], errors='coerce')

# Map player_name to player_id
dim_player_dynamic_data = dim_player_dynamic_data.merge(dim_player_static[['player_name', 'player_id']], on='player_name', how='left')

# Drop rows with NaN player_id (unmatched players)
dim_player_dynamic_data = dim_player_dynamic_data.dropna(subset=['player_id'])

# Ensure player_id is an integer after merge
dim_player_dynamic_data['player_id'] = dim_player_dynamic_data['player_id'].astype(int)

# Map team_abbreviation to team_id using dim_team
dim_player_dynamic_data = dim_player_dynamic_data.merge(dim_team[['abbreviation', 'team_id']], 
                                                        left_on='team_abbreviation', 
                                                        right_on='abbreviation', 
                                                        how='left')

# Fill NaN team_id with 0 (indicating unknown team)
dim_player_dynamic_data['team_id'] = dim_player_dynamic_data['team_id'].fillna(0).astype(int)

# Ensure season_id is an integer
dim_player_dynamic_data['season_id'] = dim_player_dynamic_data['season_id'].astype(int)

# Select columns for dim_player_dynamic
dim_player_dynamic_data = dim_player_dynamic_data[['player_id', 'team_id', 'season_id', 'weight']]
dim_player_dynamic_data['source'] = 'players_data'

# Combine both sources
if not dim_player_dynamic_data.empty:
    dim_player_dynamic = pd.concat([dim_player_dynamic_players, dim_player_dynamic_data], ignore_index=True)
else:
    print("\nWarning: dim_player_dynamic_data is empty after dropping unmatched players.")
    dim_player_dynamic = dim_player_dynamic_players.copy()

# Ensure player_id, team_id, and season_id are integers after concatenation
dim_player_dynamic['player_id'] = dim_player_dynamic['player_id'].astype(int)
dim_player_dynamic['team_id'] = dim_player_dynamic['team_id'].astype(int)
dim_player_dynamic['season_id'] = dim_player_dynamic['season_id'].astype(int)

# Clean dim_player_dynamic
dim_player_dynamic = dim_player_dynamic.drop_duplicates(subset=['player_id', 'team_id', 'season_id'])

# Fill missing weights with 0
dim_player_dynamic['weight'] = dim_player_dynamic['weight'].fillna(0)

# Drop the source column
dim_player_dynamic.drop(columns=['source'], inplace=True)

# Step 6: Prepare fact_game from games.csv
fact_game = games[['GAME_ID', 'GAME_DATE_EST', 'season_id', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'PTS_home', 'PTS_away', 'HOME_TEAM_WINS']].copy()
fact_game.rename(columns={
    'GAME_ID': 'game_id',
    'HOME_TEAM_ID': 'home_team_id',
    'VISITOR_TEAM_ID': 'visitor_team_id',
    'PTS_home': 'home_points',
    'PTS_away': 'visitor_points',
    'HOME_TEAM_WINS': 'home_team_wins'
}, inplace=True)

# Map GAME_DATE_EST to date_id
fact_game = fact_game.merge(dim_date[['date', 'date_id']], 
                            left_on='GAME_DATE_EST', 
                            right_on='date', 
                            how='left')

# Drop the date column
fact_game.drop(columns=['GAME_DATE_EST', 'date'], inplace=True)

# Ensure numeric columns are integers
# fact_game['game_id'] = fact_game['game_id'].astype(int)
# fact_game['season_id'] = fact_game['season_id'].astype(int)
# fact_game['home_team_id'] = fact_game['home_team_id'].astype(int)
# fact_game['visitor_team_id'] = fact_game['visitor_team_id'].astype(int)
# fact_game['home_points'] = fact_game['home_points'].astype(int)
# fact_game['visitor_points'] = fact_game['visitor_points'].astype(int)
# fact_game['date_id'] = fact_game['date_id'].astype(int)

# Ensure home_team_wins is boolean
fact_game['home_team_wins'] = fact_game['home_team_wins'].astype(bool)

# Step 7: Prepare fact_player_performance from game_details.csv
fact_player_performance = game_details[['GAME_ID', 'PLAYER_ID', 'TEAM_ID', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS', 'PLUS_MINUS']].copy()
fact_player_performance.rename(columns={
    'GAME_ID': 'game_id',
    'PLAYER_ID': 'player_id',
    'TEAM_ID': 'team_id',
    'MIN': 'minutes_played',
    'FGM': 'field_goals_made',
    'FGA': 'field_goals_attempted',
    'FG_PCT': 'field_goal_percentage',
    'FG3M': 'three_pointers_made',
    'FG3A': 'three_pointers_attempted',
    'FG3_PCT': 'three_pointer_percentage',
    'FTM': 'free_throws_made',
    'FTA': 'free_throws_attempted',
    'FT_PCT': 'free_throw_percentage',
    'OREB': 'offensive_rebounds',
    'DREB': 'defensive_rebounds',
    'REB': 'total_rebounds',
    'AST': 'assists',
    'STL': 'steals',
    'BLK': 'blocks',
    'TO': 'turnovers',
    'PF': 'personal_fouls',
    'PTS': 'points',
    'PLUS_MINUS': 'plus_minus'
}, inplace=True)

# Generate performance_id
fact_player_performance['performance_id'] = fact_player_performance.index + 1

# Ensure numeric columns are integers where appropriate
# fact_player_performance['game_id'] = fact_player_performance['game_id'].astype(int)
# fact_player_performance['player_id'] = fact_player_performance['player_id'].astype(int)
# fact_player_performance['team_id'] = fact_player_performance['team_id'].astype(int)
# fact_player_performance['field_goals_made'] = fact_player_performance['field_goals_made'].fillna(0).astype(int)
# fact_player_performance['field_goals_attempted'] = fact_player_performance['field_goals_attempted'].fillna(0).astype(int)
# fact_player_performance['three_pointers_made'] = fact_player_performance['three_pointers_made'].fillna(0).astype(int)
# fact_player_performance['three_pointers_attempted'] = fact_player_performance['three_pointers_attempted'].fillna(0).astype(int)
# fact_player_performance['free_throws_made'] = fact_player_performance['free_throws_made'].fillna(0).astype(int)
# fact_player_performance['free_throws_attempted'] = fact_player_performance['free_throws_attempted'].fillna(0).astype(int)
# fact_player_performance['offensive_rebounds'] = fact_player_performance['offensive_rebounds'].fillna(0).astype(int)
# fact_player_performance['defensive_rebounds'] = fact_player_performance['defensive_rebounds'].fillna(0).astype(int)
# fact_player_performance['total_rebounds'] = fact_player_performance['total_rebounds'].fillna(0).astype(int)
# fact_player_performance['assists'] = fact_player_performance['assists'].fillna(0).astype(int)
# fact_player_performance['steals'] = fact_player_performance['steals'].fillna(0).astype(int)
# fact_player_performance['blocks'] = fact_player_performance['blocks'].fillna(0).astype(int)
# fact_player_performance['turnovers'] = fact_player_performance['turnovers'].fillna(0).astype(int)
# fact_player_performance['personal_fouls'] = fact_player_performance['personal_fouls'].fillna(0).astype(int)
# fact_player_performance['points'] = fact_player_performance['points'].fillna(0).astype(int)
# fact_player_performance['plus_minus'] = fact_player_performance['plus_minus'].fillna(0).astype(int)
# fact_player_performance['performance_id'] = fact_player_performance['performance_id'].astype(int)

# # Fill missing percentages with 0
# fact_player_performance['field_goal_percentage'] = fact_player_performance['field_goal_percentage'].fillna(0)
# fact_player_performance['three_pointer_percentage'] = fact_player_performance['three_pointer_percentage'].fillna(0)
# fact_player_performance['free_throw_percentage'] = fact_player_performance['free_throw_percentage'].fillna(0)

# Fill missing minutes_played with '0:00'
# fact_player_performance['minutes_played'] = fact_player_performance['minutes_played'].fillna('0:00')

# Ensure only valid player_id and team_id (foreign key constraints)
fact_player_performance = fact_player_performance[fact_player_performance['player_id'].isin(dim_player_static['player_id'])]
fact_player_performance = fact_player_performance[fact_player_performance['team_id'].isin(dim_team['team_id'])]

# Print results
# print("\nTransformed dim_team:")
# print(dim_team.head())
# print("\nTransformed dim_ranking:")
# print(dim_ranking.head())
# print("\nTransformed dim_player_static:")
# print(dim_player_static.head())
# print("\nTransformed dim_player_dynamic:")
# print(dim_player_dynamic.head())
# print("\nPrepared dim_season:")
# print(dim_season.head())
# print("\nPrepared dim_date:")
# print(dim_date.head())
# print("\nTransformed fact_game:")
# print(fact_game.head())
# print("\nTransformed fact_player_performance:")
# print(fact_player_performance.head())
fact_player_performance

C:\Users\pc\AppData\Local\Temp\ipykernel_38732\757748632.py:9: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  game_details = pd.read_csv("games_details.csv")
C:\Users\pc\AppData\Local\Temp\ipykernel_38732\757748632.py:226: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dim_player_dynamic = pd.concat([dim_player_dynamic_players, dim_player_dynamic_data], ignore_index=True)

,game_id,player_id,team_id,minutes_played,field_goals_made,field_goals_attempted,field_goal_percentage,three_pointers_made,three_pointers_attempted,three_pointer_percentage,...,defensive_rebounds,total_rebounds,assists,steals,blocks,turnovers,personal_fouls,points,plus_minus,performance_id
0,22200477,1629641,1610612759,18:06,1.0,1.0,1.000,0.0,0.0,0.0,...,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0,1
2,22200477,1627751,1610612759,21:42,6.0,9.0,0.667,0.0,0.0,0.0,...,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0,3
5,22200477,1628380,1610612759,18:04,2.0,6.0,0.333,0.0,0.0,0.0,...,1.0,2.0,2.0,0.0,0.0,0.0,3.0,6.0,-13.0,6
6,22200477,203926,1610612759,16:55,2.0,8.0,0.250,1.0,5.0,0.2,...,3.0,4.0,1.0,0.0,0.0,1.0,0.0,5.0,-10.0,7
7,22200477,1626196,1610612759,21:20,5.0,11.0,0.455,2.0,5.0,0.4,...,2.0,3.0,3.0,0.0,0.0,1.0,2.0,14.0,-2.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668623,11200005,202706,1610612743,19,4.0,9.0,0.444,3.0,6.0,0.5,...,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,NaN,668624
668624,11200005,202702,1610612743,23,7.0,11.0,0.636,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,NaN,668625
668625,11200005,201585,1610612743,15,3.0,7.0,0.429,0.0,0.0,0.0,...,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,NaN,668626
668626,11200005,202389,1610612743,19,1.0,1.0,1.000,0.0,0.0,0.0,...,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,NaN,668627
668627,11200005,201951,1610612743,27,3.0,6.0,0.500,0.0,0.0,0.0,...,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,NaN,668628